@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
body {
  background-color : #222;
}
.ego-nets {
  color : #fff;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  margin : 0 auto;
}

.ego-nets .node {
  cursor : pointer;
}

.ego-nets .ego.node {

}
.ego-nets .background circle{
  stroke : #ccc;
  stroke-width : 2px;
  stroke-dasharray: 10 8 ;
  /*fill : #E8591D;*/
  fill-opacity : .05;
}

.ego-nets .node {
  pointer-events: bounding-box;
}

.ego-nets .background text{
  fill : #fff;
  font-size : 14px;
}

.ego-nets .ego.node .node-circle{
  stroke-width : 5px;
}

.ego-nets .ego.node text{
  stroke:none;
  fill : #fff;
}

.ego-nets .ego.node .node-sub-text {
  font-size : 12px;
}

.ego-nets .ego.node .profile-picture {
  display : inherit;
}

.ego-nets .neighbor.node .node-circle{
  display : inherit;
  stroke : none;
}

.ego-nets .neighbor.node.hover .node-circle {
  fill : none;
  stroke-width : 3px;
}

.ego-nets .neighbor.node .node-text{
  stroke : none;
  fill : #fff;
  font-size : 10px;
}
.ego-nets .neighbor.node .profile-picture {
  display : none;
}
.ego-nets .neighbor.node.hover .profile-picture {
  display :inherit;
}
.ego-nets .neighbor.node.hover .node-text{
  font-weight: 600;
  font-size : 14px;
}
.ego-nets .neighbor.node.unlinked {
  fill-opacity : .45;
}

.ego-nets .neighbor.node.linked .node-text{
  font-weight: 600;
  font-size : 14px;
}

.ego-nets .sub {
  pointer-events: none;
}

.ego-nets path.link {
  stroke : #1EA278;
  stroke-width : 1px;
  fill : none;
  shape-rendering : geometricPrecision;
}

.ego-nets .sub .neighbor.node .node-circle{
  stroke : none;
}

.ego-nets .sequence {
  display : flex;
  flex-wrap : wrap;
}

.ego-nets .sequence .node {
  margin : 4px;
}

.content .search li.selected {
  background : #fcd4a0;
}

.content .search .results {
  position : absolute;
}
