.ego-nets {
  margin : 0 auto;
}

.ego-nets .node {
  cursor : pointer;
}

.ego-nets .ego.node {

}
.ego-nets .background {
  stroke : #E8591D;
  stroke-dasharray: 8 6 ;
  fill : #E8591D;
  fill-opacity : .05;
}
.ego-nets .ego.node > circle{
  stroke : #fdefea;
  stroke-width : 8px;
  fill : #E8591D;
}

.ego-nets .ego.node > text{
  stroke:none;
  fill : #111;
}

.ego-nets .neighbor.node > circle{
  stroke : none;
  fill : #1EA278;
}

.ego-nets .neighbor.node > text{
  stroke : none;
  fill : #111;
  font-size : 10px;
}

.ego-nets path.link {
  stroke : #1EA278;
  stroke-width : 1px;
  fill : none;
  shape-rendering : geometricPrecision;
}
