.ego-nets {
  margin : 0 auto;
}

.ego-nets .node {

}

.ego-nets .ego.node {

}
.ego-nets .background {
  stroke : #E8591D;
  stroke-dasharray: 8 6 ;
  fill : none;
}
.ego-nets .ego.node > circle{
  stroke : none;
  fill : #E8591D;
}

.ego-nets .neighbor.node > circle{
  stroke : none;
  fill : #1EA278;
}

.ego-nets .neighbor.node > text{
  stroke : none;
  fill : #fff;
}


.ego-nets path.link {
  stroke : #1EA278;
  stroke-width : 1px;
  fill : none;
  shape-rendering : geometricPrecision;
}
