@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  background : url("img/bg_retina.jpg");
  background-size : cover;
  font-family: 'NanumGothic', 'Sans-serif';
  color : #fff;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  margin : 0;
}
header {
  background : rgba(0,0,0,.3) 67px 18px no-repeat;
  height : 68px; /*1345px*/
}
header > div {
  display : flex;
  display: -webkit-flex;
  justify-content : center;
  align-items: center;
  flex-direction: row;
  width : 1345px;
  padding : 0 24px;
  margin : 0 auto;

}
header > div img.logo {
  padding-top : 9px;
  padding-left: 18px;
  height : 30px;
}

header > div .search.inputs {
  flex : 1;
  text-align: right;
  position : relative;
}

header > div .search.inputs input[type="search"] {
  width : 262px;
  height : 40px;
  margin-top : 14px;
  border: none;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  background : #2b2b2b;
  padding-left : 36px;
  color : #fff;
  font-size : 14px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}
header > div .search.inputs .icon {
  position : absolute;
  margin-left : 14px;
  margin-top : 24px;
}

header > div .search.inputs input[type="search"]::-webkit-input-placeholder {
   color: #8b8b8b;
}
header > div .search.inputs input[type="search"]:-moz-placeholder { /* Firefox 18- */
   color: #8b8b8b;
}
header > div .search.inputs input[type="search"]::-moz-placeholder {  /* Firefox 19+ */
   color: #8b8b8b;
}
header > div .search.inputs input[type="search"]:-ms-input-placeholder {
   color: #8b8b8b;
}

header > div .search.results ul {
  padding-left : 0px;
  font-size : 13px;
  list-style: none;
  max-height : 600px;
  overflow-y: scroll;
}
header > div .search.results li {
  cursor: pointer;
  padding : 14px;
}
header > div .search.results li .desc{
  font-size : 11px;
  color : #c9c9c9;
  padding-left : 14px;
}

header > div .search.results li.selected {
  background : #fcd4a0;
}

header >div .search.results {
  text-align: left;
  display : inline-block;
  position : absolute;
  color : #fff;
  width : 262px;
  margin-left : -262px;
  margin-top : 60px;
  background : rgba(77,77,77,0.95);
  border-radius: 8px;
  z-index: 9999;
}

header >div .search.results.hidden {
  visibility: hidden;
}

section.content {
  display : flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap : nowrap;
  justify-content : center;
  padding : 48px 24px;
  margin : 0 auto;
}

section.content > .sequence {
  width : 92px;
  padding-left : 72px;
  margin-right : 40px;
}

section.content > .sequence .list{
  height : 530px;
  font-size : 12px;
  color : #8b8b8b;
  margin-top : 36px;
  overflow-y: scroll;
}

section.content > .sequence .list > .node {
  margin-bottom: 24px;
  cursor : pointer;
}
section.content > .sequence .list > .node.selected:before {
  content : "▶ ";
}
section.content > .sequence .list > .node.selected {
  color : #fff;
  font-size : 14px;
}
section.content > div.detail {
  margin-left : 24px;
  padding-left : 18px;
  width : 294px;
}

section.content > div.ego-nets {
  margin-top: -108px;
  width : 880px;
}
section.content .title:before {
  content:"";
  background: url("img/ic_title.png") no-repeat;
  width : 18px;
  height : 18px;
  position : absolute;
  left : -18px;
  top : 0px;
}
section.content .title {
  display : flex;
  align-items: flex-end;
  position : relative;
  font-weight : bold;
  font-size : 16px;
  color : #009cff;
  padding-top: 18px;
  padding-bottom : 16px;
  border-bottom: 2px solid rgb(71,71,71);
}
section.content .sequence  div:not(.title) > div,
section.content .detail .profile  div:not(.title) > div,
section.content .detail .stat  ul{
  font-size : 12px;
}

section.content .detail > div {
  margin-bottom : 50px;
}

section.content .detail ul {
  padding : 0;
  margin : 0;
}

section.content .detail .profile div:not(.title),
section.content .detail .stat li  {
  height : 12px;
  display : flex;
  flex-direction : row;
  margin-top:12px;
}
section.content .detail .key:not(.title) {
  color : #8b8b8b;
}
section.content .detail .profile .key {
  width : 82px;
}

section.content .detail .stat li .bullet {
  margin-right : 10px;
}
section.content .detail .stat li .key {
  width : 155px;
}

section.content .detail .profile .title .value,
section.content .detail .stat .title .value {
  padding-left : 8px;
  color :#fff;
}

section.content .detail .profile .title .desc,
section.content .detail .stat .title .desc {
  padding-left : 8px;
  color :#8b8b8b;
  font-size : 12px;
}
